@keyframes fadeBackground {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.fade-background {
    animation: fadeBackground 0.5s;
}
